*{
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}
/**************** HEADER ************************/
header {
    background-color: #4CAF50;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Efecto de sombra */
}

/*imagen del pokedex*/
.logo img{
    width: 8em;
}

/*Titulo Pokedex*/
.titulo img{
    width: 15em;
}

/*Ingreso de usuario*/
header .login input[type="text"],
header .login input[type="password"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

header .login input[type="submit"] {
    padding: 10px 15px;
    background-color: white;
    color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

header .login input[type="submit"]:hover {
    background-color: #4b58da;
    color: white;
}

header .login input[type="button"] {
    padding: 10px 15px;
    background-color: white;
    color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

header .login input[type="button"]:hover {
    background-color: #4b58da;
    color: white;
}



/*************************** MAIN ********************************/

main {
    padding: 20px;
}

h2{
    font-weight: bold;
    margin:25px;
}

/*Buscador*/

form.buscador {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

form.buscador input[type="text"] {
    width: 50%;
    padding: 15px;
    border: 2px solid #4CAF50;
    border-radius: 25px 0 0 25px;
    outline: none;
    font-size: 18px;
    transition: all 0.3s ease;
}

form.buscador input[type="text"]:focus {
    border-color: #45a049;
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.5);
}

form.buscador input[type="submit"] {
    padding: 15px 30px;
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    color: white;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

form.buscador input[type="submit"]:hover {
    background-color: #45a049;
}



/* botón de nuevo */
#nuevoBtn {
    margin: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    width: 20%;
}



/* contenido de agregar*/
.contenedor-agregar {
    background-color: white;

    padding: 20px;
    border: 2px solid #423f3f;

    border-radius: 5px;
}



/*formulario de carga*/


/*imagen para cargar*/
#previewImg{
    display:none;
    width: 200px;
    height: auto;
}


select{
    margin-top:5px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;

}


textarea{
    margin-top:5px;
    padding: 5px;
    border-radius: 5px;
    height: 100px;
}

input{
    margin-top:5px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;

}

label{
    font-weight: bold;
}


/****TABLA****/
th{
    background-color: #2196F3;
    text-align: center !important;

}

td{
    text-align: center !important;
}

/**********RESPONSIVE HEADER************************/
/* Media Query para pantallas menores a 768px (tablets y teléfonos) */
@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .logo img {
        width: 6em;
    }

    .titulo img {
        width: 12em;
    }

    header .login {

        margin-top: 10px;
        text-align: center;
    }

    header .login input[type="text"],
    header .login input[type="password"] {
        width: 70%;
        margin-bottom: 10px;
    }

    header .login input[type="submit"],
    header .login input[type="button"] {
        width: 25%;
    }
}

/* Media Query para pantallas menores a 480px (teléfonos pequeños) */
@media only screen and (max-width: 480px) {
    header {
        padding: 5px;
    }

    .logo img {
        width: 4em;
    }

    .titulo img {
        width: 10em;
    }

    header .login input[type="text"],
    header .login input[type="password"],
    header .login input[type="submit"],
    header .login input[type="button"] {
        padding: 8px;
    }
}

/**********RESPONSIVE BUSCADOR************************/
/* Media Query para pantallas menores a 768px (tablets y teléfonos) */
@media only screen and (max-width: 768px) {
    form.buscador {
        flex-direction: column;
        align-items: center;
    }

    form.buscador input[type="text"] {
        width: 80%;
        border-radius: 25px;
        margin-bottom: 10px;
        font-size: 16px;
    }

    form.buscador input[type="submit"] {
        width: 50%;
        border-radius: 25px;
        padding: 12px 0;
        font-size: 16px;
    }
}

/* Media Query para pantallas menores a 480px (teléfonos pequeños) */
@media only screen and (max-width: 480px) {
    form.buscador input[type="text"] {
        width: 80%;
        font-size: 12px;
    }

    form.buscador input[type="submit"] {
        width: 50%;
        font-size: 14px;
        padding: 10px 0;
    }
}