/*********************  RESPONSIVE TABLA **************************/
@media only screen and (max-width: 768px) {
    .w3-table-responsive {
        display: none; /* Oculta la tabla en pantallas pequeñas */
    }
    .pokemon-card {
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 16px;
        margin: 1em 0;
        background-color: #f9f9f9;
    }
}
